@model IEnumerable<Test.Models.Product>

@{
    ViewData["Title"] = "Menu";
}

<h1>Меню</h1>

<table class="table table-striped">
    <tbody>
        @foreach (var item in Model)
        {
            



            <tr>
                <td>@item.Name</td>
                <td>@item.Price лв.</td>
                <td>@item.Category?.Name</td>

                <td>
                    @if (!string.IsNullOrEmpty(item.UrlImg))
                    {
                        <img src="@item.UrlImg" width="80" height="100" />
                    }
                </td>

                <td>
                    <a asp-controller="Home"
                       asp-action="Details"
                       asp-route-id="@item.Id"
                       asp-route-returnUrl="@Context.Request.Path"
                       class="btn btn-warning btn-sm">
                        Детайли
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>