@model IEnumerable<Test.Models.Product>

@{
    ViewData["Title"] = "Menu";
}


<title>@ViewData["Title"]</title>
<link href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />

    <div class="container mt-4">
        <a asp-controller="MainPage" asp-action="MainPage" class="btn-back-menu" title="Назад">
            <span>⬅ Назад</span>
        </a>
        <h1 class="menu-text text-center mb-3">Menu</h1>

    <div class=" row row-cols-1 row-cols-md-3 g-4 justify-content-center">
            @foreach (var item in Model)
            {
            <div class="menu-items col d-flex justify-content-center">
                    <a asp-controller="Home"
                       asp-action="Details"
                       asp-route-id="@item.Id"
                       asp-route-returnUrl="@Context.Request.Path"
                       class=" text-decoration-none text-dark">

                        <div class=" text-center">
                            @if (!string.IsNullOrEmpty(item.UrlImg))
                            {
                                <img src="@item.UrlImg"
                                     alt="@item.Name"
                                     style="width:100%; height:250px; object-fit:cover; border-radius:15px 15px 0 0;" />
                            }

                            <div class="p-3">
                                <h5 class="fw-bold">@item.Name</h5>
                                <p><strong>Цена:</strong> @item.Price лв.</p>
                                <p><strong>Категория:</strong> @item.Category?.Name</p>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>